.photogallery{
    width: 100%;
    padding: 5rem;
   
.title{
     border: 10px;
     margin: 30px;
    text-align: center;
    color: rgb(14, 50, 161);
}

.galleryimg{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
   


.column{
    height: 100%;
    width: 100%;
padding: 10px;

}
.imgs{
    height: 200px;
    width: 100%;
}
}
}