.section_padding{
  padding: 4rem 4rem;
}
.footer{
  background-color: #2d2d32;
}
.sb_footer{
  display: flex;
  flex-direction: column;
}

.sb_footer-link{
  padding: 2rem;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 flex-direction:row ;
 flex-wrap: wrap;
 width: 100%;
 text-align: left;
 margin-bottom: 2rem;
}
.sb__footer-link_div{
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  }
  a{
    color:rgb(175, 175, 179) ;
    text-decoration: none;
  }
  .socialmedia{
    display: flex;
    flex-direction: row;
  }
  .sb__footer-link_div h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
  }
  .sb__footer-link_div p{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
  }
  @media screen and (max-width:850px){
      .sb_footer-heading h1{
        font-size: 44px;
        line-height: 50px;

      }
      .sb__footer-link_div{
        justify-content: center;
      }
  }
  @media screen and (max-width:550px) {
    .sb__footer-heading h1{
      font-size: 34px;
      line-height:42px;

    }
    .sb_footer-link div{
       margin: 1rem 0;
       justify-content: center;
    }

    
  }
  .fb,.ig{
    width: 30px;
    color: white;

  }